<form action="<%= url :sessions, :login %>", method="POST">
  <input type="submit" class="large round login-user button" value="ログイン"></input>
  <div class="row">
    <div class="two columns">
      <label class="right inline">Username</label>
    </div>
    <div class="ten columns">
      <input type="text" name="user_name">
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <label class="right inline">Password</label>
    </div>
    <div class="ten columns">
      <input type="password" name="password">
    </div>
  </div>
</form>
