<div class="row">
  <div class="twelve columns main-title">
    <h1><a href="<%= url(:index, :index) %>">めしごよみ</a></h1>
    <p><%= @page_title || 'ごはんの写真をカレンダーにしよう' %></p>
  </div>
  <div class="twelve columns">
    <%= styled_flash %>
  </div>
</div>
