div.main-title,top-button {
    text-align: center ;
}
a.button, input.button {
    text-shadow: 1px 1px 4px black ;
}

div.top-button {
    text-align: center ;
}
.login-user.button {
    margin-bottom: 32px ;
}
.register-user.button {
    background-color: limegreen ;
}

div.flash {
    padding: 16px;
    margin:   8px;
    border: 1px solid silver;
    border-radius:         5px;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
}
.flash.warning {
    background-color: yellow;
}
.flash.info {
    background-color: limegreen;
}
.flash.error {
    background-color: red;
}
span.validation-message {
    padding: 0;
    margin: 0;
    font-size: 0.2em;
    color: red;
}
.dishes-confirm {
    line-height: 24px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 4px;
    box-shadow: rgba(  0,   0,   0, .1) -1px 1px 2px inset,
                rgba(255, 255, 255,  1) -1px 1px 0;
    border-radius:         5px;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
}
div.daily-dish {
    max-width:  96px;
    min-width:  96px;
    max-height: 96px;
    min-height: 96px;
    margin: 2px ;
    padding: 0 4px ;
    text-align: right;
}
div.current-month {
    background-image: url('/images/gohan.gif');
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba( 0, 0, 0, .2);
    margin: 2px ;
    border-radius:         4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    background-size: contain;
}
.daily-dish .display-date {
    text-align: right;
    background-color: rgba( 255, 255, 255, .7);
    font-size: 0.3em;
    border-radius:         2px;
    -webkit-border-radius: 2px;
    -moz-border-radius:    2px;
}
