<div class="row">
  <div class="twelve columns">
    <ul class="button-group radius even three-up">
      <li><a href="<%= url :dishes, :new %>" class="button radius">あたらしいごはん</a></li>
      <li><a href="<%= url :calendar, :index, user_info['user_name'] -%>" class="button radius">カレンダー</a></li>
      <li><a href="#" class="button radius">プロフィール</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="three columns offset-by-nine top-button">
    <a href="<%= url :sessions, :logout %>" onclick="return confirm('ログアウトしますか？');" class="small round login-user button">ログアウト</a>
  </div>
</div>
