<div class="row">
  <div class="six columns top-button">
    <%= partial('partials/login_form') %>
  </div>
  <div class="six columns top-button">
    <a href="<%= url :sessions, :new %>" class="large round register-user button">新規登録</a>
  </div>
</div>
