<%= partial 'partials/page_top' %>
<div class="row">
  <form action="/user/confirm" method="POST">
    <div class="row">
      <div class="four columns"><label class="right inline">user_name</label></div>
      <div class="eight columns"><input type="text" name="user_rname"></div>
    </div>
    <div class="row">
      <div class="four columns"><label class="right inline">screen_name</label></div>
      <div class="eight columns"><input type="text" name="screen_name"></div>
    </div>
    <div class="row">
      <div class="four columns"><label class="right inline">mail_address</label></div>
      <div class="eight columns" style="border"><input type="text" name="mail_address"></div>
    </div>
    <div class="row">
      <div class="four columns"><label class="right inline">password</label></div>
      <div class="eight columns"><input type="password" name="password"></div>
    </div>
    <div class="row">
      <div class="four columns"><label class="right inline">confirm password</label></div>
      <div class="eight columns"><input type="password" name="confirm_password"></div>
    </div>
    <div class="row">
      <div class="four columns"></div>
      <div class="eight columns">
        <input type="submit" class="large round register-user button" value="入力情報を確認"></input>
      </div>
    </div>
  </form>
</div>
